# --- ENTORNOS VIRTUALES ---
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# --- ARCHIVOS DE ENTORNO Y VARIABLES ---
.env

# --- ARCHIVOS TEMPORALES DE PYTHON ---
__pycache__/
*.py[cod]
*$py.class

# --- CONFIGURACIONES DE IDE (VSCode / PyCharm) ---
.vscode/
.idea/

# --- ARCHIVOS DE BASE DE DATOS LOCALES ---
db.sqlite3

# --- ARCHIVOS ESTÁTICOS Y MEDIOS GENERADOS ---
staticfiles/
media/

# --- ARCHIVOS DE COMPILACIÓN / DISTRIBUCIÓN ---
build/
dist/
*.egg-info/
*.egg

# --- LOGS Y ARCHIVOS DE DEBUG ---
*.log
*.pot
*.pyc

# --- ARCHIVOS DEL SISTEMA (WINDOWS / MAC) ---
Thumbs.db
.DS_Store

# --- ARCHIVOS DE DEPLOY O SHELL ---
*.sh

# --- BACKUPS ---
*.bak
*.swp
